
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css">

	  {% if page.use_math %}
	  {% include _mathjax_support.html %}
	  {% include _mathjax_macros.md %}
	  {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
